name: docs  CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: rsync deployments
      uses: burnett01/rsync-deployments@5.1
      with:
        # 这里是 rsync 的参数 switches: -avzh --delete --exclude="" --include="" --filter=""
        switches: -avzr --delete
        # path: src/
        remote_path: ${{ secrets.PATH }}
        remote_host: ${{ secrets.HOST }}
        remote_port: ${{ secrets.PORT }}
        remote_user: ${{ secrets.USERNAME }}
        remote_key:  ${{ secrets.MY_UBUNTU_RSA_PRIVATE_KEY }}

